@font-face {
  font-family: 'NanumGothicRegular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NanumGothicRegular/NanumGothicRegular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/NanumGothicRegular/NanumGothicRegular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  src: url('/fonts/NanumGothicRegular/NanumGothicRegular.woff') format('woff'); /* Modern Browsers */
  src: url('/fonts/NanumGothicRegular/NanumGothicRegular.ttf') format('truetype'); /* Safari, Android, iOS */
    
}
.App {
  text-align: center;

}
html, body {
  height: 100%;
  font-family: 'NanumGothicRegular', sans-serif;
}
#root, .App, #main {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  
}

li {
  list-style-type: none;
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
}

button {
  border: 0;
}


.btn {
  vertical-align: middle;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  height: 36px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.075em;
  min-width: 120px;
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 3px;
}

.btn-disable {
  position: relative;
       -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
     user-select: none; 
     cursor: default;
}
.btn-disable:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(195, 195, 195, .55);
}
.btn-green {
  background: #00A67C;
}

.btn-red {
  background: #C05B78;
}

.dropzone {
  min-height: 300px;
  border: none;
  border-radius: 10px;
  padding: 128px 80px;
  height: 100%;
  box-sizing: border-box;
}


#main #files-list {
  position: relative;
  padding: 50px 80px;
  height: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 90px 120px;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}
#main .image-wrapper {
position: relative;
}

#main .image-block {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  transition: background-color .2s;
  }
  #main .image-block .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    will-change: transform,opacity;
    width: 100%;
    height: 100%;
  }
#main .grid-item {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  width: 18.75rem;
  margin-bottom: 3.75rem;
  align-self: flex-end;
    flex-basis: auto;
}
#main .dropping-text {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #656161;
  font-family: 'NanumGothicRegular';
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: normal;
  text-align: center;
  width: 100%;
}
#main .item {
  width: 29px;
  height: 29px;
  float: right;
  border-radius: 2px;
  padding: 0;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}
#main .item-title h6 {
  float: left;
  font-size: 14px;
  color: #888888;
  width: calc(100% - 50px);
    text-align: left;
    padding-left: 4px;
    line-height: 29px;
    margin-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#main .item-title {
  overflow: hidden;
  position: relative;
}

#main .item-preview {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    transition: background-color .2s;
}
#main .item-preview img {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    will-change: transform,opacity;
}

/* #main .item-title {
  white-space: nowrap;
  position: relative;
  text-align: left;
  width: 80%;
  overflow: hidden;
  color: #010833;
  font-size: 14px;
  letter-spacing: 0.025em;
  text-overflow: ellipsis;
} */

#main .item-remove {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 15px;
  width: 10px;
  height: 9px;
  right: 19px;
}
#main .item-remove:before {
  content: "";
  width: 3px;
  border-radius: 5px;
  height: 10px;
  position: absolute;
  top: -1px;
  right: 4px;
  display: block;
  background: #010833;
  transform: rotate(-45deg);
  
}

#main .item-remove:after {
  content: "";
  width: 3px;
  border-radius: 5px;
  height: 10px;
  position: absolute;
  top: -1px;
  right: 4px;
  display: block;
  background: #010833;
  transform: rotate(45deg);
}
#main .btn-upload {
  margin-top: 20px;
}

#main .item-remove span {
    font-size: 16px;
    font-weight: bold;
  }
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.upload-buttons-wrapper {
  position: fixed;
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,.12);
  z-index: 11;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  -ms-flex-negative: 0;
  right: 15px;
  flex-shrink: 0;
  top: 15px;
  height: 48px;
  border-radius: 4px;
}

#main .headline {
  padding: 10px 20px;
  background: #ececec;
}
#main .item-download {
  padding: 0 20px 20px 20px;
}
#main .item-download a {
  background: #58cb91;
  color: #fff;
  border-radius: 2px;
  height: 30px;
  letter-spacing: 0.075em;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;  
  line-height: 30px;
  width: 100%;
  display: block;
}
#main .settings-panel {
  position: absolute;
  bottom: 102%;
  padding: 20px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff;
}

.container-uploadimage {
  max-width: calc(100% - 300px);
  width: 100%;
  height: 100%;
  background: url(/img/bg.jpg) repeat;
  overflow: auto;
  position: fixed;
  right: 0;
}
.panel-settings {
  width: 300px;
  height: 100%;
  padding-top: 80px;  
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
}

.panel-settings h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  padding-bottom: 15px;
  padding-left: 10px;
}
.twitter-picker {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}


.tab-btn {
  height: 44px;
  width: 100%;
  cursor: pointer;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid navy;
}
.react-tabs__tab--selected {
  background: orangered
}

.wrapper-completing {
  max-width: 400px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-checked {
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin: 0 3px 0 0;
}
.button-checked + label {
  cursor: pointer;
}
.button-checked:not(checked) {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 5px 5px 0px 0px;
  right: 0;
  width: 29px;
  height: 29px;
}
.button-checked:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.button-checked:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: #FFF;
}
.button-checked:not(checked) + label.checked:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #00d084;
  opacity: 0;
}
.button-checked:checked + label.checked:after {
  opacity: 1;
}
